@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant pink (&:where(.pink, .pink *));
@custom-variant purple (&:where(.purple, .purple *));
@custom-variant green (&:where(.green, .green *));

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent; /* Hilangkan kotak abu-abu saat tap di Android */
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "SF Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Custom Soft Scrollbar Khas macOS/iOS */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.25);
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(150, 150, 150, 0.45);
  }
}

/* === PINK MODE OVERRIDES === */
.pink {
  --color-slate-50: #fff0f3;
  --color-slate-100: #ffe4e8;
  --color-slate-200: #FDB3C2;
  
  --color-slate-400: #F891A5;
  --color-slate-500: #E56D85;
  --color-slate-600: #BF3853;
  --color-slate-700: #A41F39;
  --color-slate-800: #801328;
  --color-slate-900: #590a1a;

  --color-blue-50: #ffe4e8;
  --color-blue-100: #FDB3C2;
  --color-blue-400: #F891A5;
  --color-blue-500: #E56D85;
  --color-blue-600: #E56D85;
  --color-blue-700: #BF3853;
  --color-blue-900: #A41F39;
  --color-blue-950: #801328;
}

/* === PURPLE MODE OVERRIDES === */
.purple {
  --color-slate-50: #f8f0fe;
  --color-slate-100: #f0dbfd;
  --color-slate-200: #cc92fc;
  
  --color-slate-400: #b365f2;
  --color-slate-500: #9a32ef;
  --color-slate-600: #7710d1;
  --color-slate-700: #6e25aa;
  --color-slate-800: #521884;
  --color-slate-900: #380b5c;

  --color-blue-50: #f0dbfd;
  --color-blue-100: #cc92fc;
  --color-blue-400: #b365f2;
  --color-blue-500: #9a32ef;
  --color-blue-600: #9a32ef;
  --color-blue-700: #7710d1;
  --color-blue-900: #6e25aa;
  --color-blue-950: #521884;
}

/* === GREEN / MATCHA MODE OVERRIDES === */
.green {
  --color-slate-50: #f7fcf5;
  --color-slate-100: #e5f5e0;
  --color-slate-200: #c7e9c0;
  
  --color-slate-400: #74c476;
  --color-slate-500: #41ab5d;
  --color-slate-600: #238b45;
  --color-slate-700: #006d2c;
  --color-slate-800: #00441b;
  --color-slate-900: #002b11;

  --color-blue-50: #e5f5e0;
  --color-blue-100: #c7e9c0;
  --color-blue-400: #74c476;
  --color-blue-500: #41ab5d;
  --color-blue-600: #238b45;
  --color-blue-700: #006d2c;
  --color-blue-900: #00441b;
  --color-blue-950: #002b11;
}